<p>送信したデータは・・・</p>
<p id="data"></p>

<p>受信したデータは・・・</p>
<p id="got"></p>

<h1>Color</h1>
<div id="color-box"></div>

<h1>Light</h1>
<div id="light-box"></div>

<%= form_tag(url_for(:action => 'index'), :remote => true) do %>
    <%= submit_tag "更新" ,{id: "submitButton"} %>
<% end %>

<%= link_to 'データ削除', {controller: 'send_data', action:'delete'} %>

<%= javascript_pack_tag 'index' %>