<p><%= @message %></p>
<p>パース後のデータ①は、<%= @data1 %></p>
<p>パース後のデータ②は、<%= @data2 %></p>
<p>パース後のデータ③は、<%= @data3 %></p>

<h1>Color</h1>
<div id="color-box"></div>

<h1>Light</h1>
<div id="light-box"></div>